body{
    background-color: #11a6d4;
}
#login-box{
    background-color: #1991b7;
    width: 380px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    border-radius: 5px;
    position: relative;
}
#login-box-interno{
    width:360px;
    height: 240px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #808080;
    overflow: hidden;
}
#login-box-interno-label{

    height: 45px;
    text-align: center;
    font: bold 14px/45px sans-serif;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,e5e5e5+100&0.6+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(238,238,238,0.6) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,0.6) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,238,238,0.6) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99eeeeee', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */



    border-bottom: 1px solid white;
    box-shadow: 0px 0px 2px black;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}
.input-div{
    margin: 20px;
    padding: 3px;
    background: #f2f5f7;
    border-radius: 3px;
}
.input-div input{
    width: 307px;
    height: 30px;
    padding-left: 5px;
    font: normal 13px sans-serif;
    color: #aeaeae;
    border-radius: 3px;
    border: 1px solid #bfc4c6;
    outline:none;
}
.input-div:hover{       /*com o mouse por cima do input muda a cor da sua borda para azul claro*/
    background-color: #e0f1fc;
}
.input-div input:hover{
    border-color: #7dc6dd;      /* cor azul claro */
}
.input-div input:focus{  /* muda a cor do texto quando clickado pelo usuario */
    color: #04060a;
    font-weight: 500;   /* aplica negrito no text */
}
#input-senha{
    margin-top: -10px;
}

#botoes{
    width: 307px;
    margin-left: 25px;
    text-align: center;
    font: bold 12px sans-serif;

}
#botao-acessar{
    float: left;
    width: 80px;
    margin-left: 35px;
    padding: 5px 15px;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 1px solid #9eb9c3;
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,cde5ee+100 */
    background: rgb(237,246,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,246,249,1) 0%, rgba(205,229,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(237,246,249,1) 0%,rgba(205,229,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(237,246,249,1) 0%,rgba(205,229,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */

}
#botao-cadastro{
    float: right;
    width: 80px;
    margin-right: 35px;
    padding: 5px 15px;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 1px solid #9eb9c3;
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,cde5ee+100 */
    background: rgb(237,246,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,246,249,1) 0%, rgba(205,229,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(237,246,249,1) 0%,rgba(205,229,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(237,246,249,1) 0%,rgba(205,229,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */

}
#botao-acessar:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cde5ee+0,edf6f9+100 */
    background: rgb(205,229,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(205,229,238,1) 0%, rgba(237,246,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(205,229,238,1) 0%,rgba(237,246,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(205,229,238,1) 0%,rgba(237,246,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde5ee', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
}
#botao-cadastro:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cde5ee+0,edf6f9+100 */
    background: rgb(205,229,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(205,229,238,1) 0%, rgba(237,246,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(205,229,238,1) 0%,rgba(237,246,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(205,229,238,1) 0%,rgba(237,246,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde5ee', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
}